/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

.bg-custom-image {
    background-image: url('./assets/bg-img.png');
    background-size: cover;
    background-position: center;
  }


  .bg-aboutHero-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('./assets/aboutHero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  

  .widthMargin {
    margin: 0 30px;
    /* width: 100%; */
  }


  .worldLogo1 {
    background-image: url('./assets/world.png');
    background-repeat: no-repeat;
    left: -30px;
  }
  
  .worldLogo {
  background-image: url('./assets/imageNew.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  position: absolute;  
  top: -80px;
  left: -30px;
}

.lineImage {
    background-image: url('./assets/lineImage.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: absolute;  
    top: -40px;
    left: 400px;
}

.bg-section1 {
    background-image: url('./assets/bg-section1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-section2 {
    background-image: url('./assets/bg-section2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-section3 {
    background-image: url('./assets/bg-section3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footerEmail {
    background-image: url('./assets/email-bg.png');
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    border-radius: 20px;
}


